*{
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
}
button{

height: 200px;
width: 300px;
text-size-adjust: bold;
}
.assign{
    height:100%;
}
.light{
    background-color: aliceblue;
    color: black;
}
.dark{
    background-color: black;
    color:white;
}